<h1>
    404 Error - Page Not Found
</h1>
<h3>
    <mat-icon fontIcon="warning"></mat-icon>Attention Citizen: Unauthorized Access Detected<mat-icon fontIcon="warning"></mat-icon>
</h3>
<mat-divider></mat-divider>
<section>
    <article>
        <h1>This Page Does Not Exist</h1>
        <p>
            You have reached a restricted area of the Delta 9 Database. The page you are attempting to access is either non-existent or classified.
        </p>
    </article>
    <article>
        <h1>
            Possible Reasons:
        </h1>
        <ul style="text-align: left; margin-left: 40px;">
            <li>The URL you entered is incorrect or outdated.</li>
            <li>The page has been removed or relocated.</li>
            <li>You do not have the necessary clearance to view this content.</li>
        </ul>
    </article>
    <article>
        <h1>
            Next Steps:
        </h1>
        <ul style="text-align: left; margin-left: 40px;">
            <li>Return to Home: <a href="/">Delta 9 Database Home</a></li>
            <li>Report an Issue: If you believe this is an error, please contact our helpdesk for assistance.</li>
            <li>Compliance Reminder: Ensure all navigation and data access comply with the Central Governance Authority’s regulations.</li>
        </ul>
    </article>
<p>Your attempt has been logged for security purposes. Repeated unauthorized access attempts may result in penalties as outlined in the Citizen Compliance Act.</p>
</section>