.flex {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
    mat-table {
        width: 50vw;
    }
}

.active {
    color: #ffb787;
}

mat-row:hover {
    outline: solid 1px #ffb787;
}