/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: oklch(44% .019 306.08);
    color: #e0e3e2;
}

.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #201a17;
    --mdc-snackbar-supporting-text-color: #e0e3e2;
}