<div class="wrapper">
    <h1>
        <i>Central Government Citizen Registry and Surveillance System</i>
    </h1>
    <section>
        <article>
            <h1><mat-icon fontIcon="info"></mat-icon>Information</h1>
            <p>Welcome to the Delta 9 Database, the premier and most comprehensive citizen registry system in the nation. Established by the Central Governance Authority, the Delta 9 Database is an essential tool designed to enhance public safety, ensure regulatory compliance, and maintain societal order in our thriving metropolis.</p>
        </article>
        <article>
            <h1><mat-icon fontIcon="format_list_bulleted"></mat-icon>Key Features</h1>
            <ul>
                <li>
                    Mandatory Registration: Every citizen is required by law to register and update their personal information within the Delta 9 Database. Failure to comply will result in severe penalties up to a $1000 fine.
                </li>
                <li>
                    Surveillance and Monitoring: Our advanced surveillance systems are integrated with the database to monitor citizen activities in real-time, ensuring adherence to legal and social norms.
                </li>
                <li>
                    Data Security: Rest assured, your data is protected by state-of-the-art encryption technologies and is accessible only by authorized government personnel.
                </li>
            </ul>
        </article>
        <article>
            <h1><mat-icon fontIcon="warning"></mat-icon>Notice to All Citizens</h1>
            <ul>
                <li>
                    Personal Data Update: Regular updates of personal information are mandatory. Please ensure your details are accurate and up-to-date.
                </li>
                <li>
                    Compliance Checks: Random compliance checks are conducted to verify the integrity of the data. Non-compliance will trigger automated penalties.
                </li>
                <li>
                    Support and Inquiries: For assistance, visit our support section or contact our helpdesk.
                </li>
            </ul>
        </article>
        <p class="final">
            Thank you for your cooperation. Together, we can build a safer and more controlled society.
        </p>
    </section>
</div>